
    #searchclear {
        position: absolute;
        right: 40px;
        top: 20px;
        bottom: 0;
        height: 14px;
        margin: auto;
        font-size: 17px;
        cursor: pointer;
        color: #ccc;
}.col-sm-8 .row{border:1px solid #dadada;margin-bottom:15px}.text-block{margin-top:60px;margin-left:100px}.jumbotron h1{font-size:25px;color:#fff}.search_value{font-size:18px; font-weight:bold}.jumbotron,form{padding:5px;margin-top:-20px;background:#dadada}form{border:2px solid #b7b7b7;padding:15px;margin-top:45px}.counter{margin-bottom:20px;font-size:16px;font-style:italic;color:gray}.thumbnail{position:relative;border:0;box-shadow:none;top:40px}.caption{position:absolute;top:50%;left:50%;margin:0 -50% 0 0;transform:translate(-50%,-50%);font-size:24px}.caption p{font-size:22px}.caption,.caption h2,.caption p{color:#fff;text-shadow:0 2px 2px rgba(0,0,0,.6)}#box-search{border:0}.footer{position:fixed;left:0;bottom:0;width:100%;background:#dadada;color:#fff;text-align:center}.container{margin-bottom:150px}.footer p{position:relative;top:5px;font-style:italic}.remove_content{margin-left:20px;cursor:pointer}
